body{
    background-color: pink;
    color:white;
}
.heading{
    width:80%;
    color:black;
    font-size:25px ;
}
.name_of_objects{
    color:yellow;

}

#camera{
    border:2px dotted black;
    width: 350px;
    height: 300px;
}